@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

:root {
    --foreground: #6b6e6b;
    --background: #f7f7f7;
    --accent: #629464;
    --error: #b1563f;
    --transparent: #33353380;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #EEEEEE;
        --background: #333333;
        --accent: #93d996;
        --error: #e66d4e;
        --transparent: #EEEEEE80;
    }
}

* {
    margin: 0;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
}

#g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

h1 {
    color: var(--accent);
    font-size: clamp(30px, 8vw, 105px);
}

div {
    justify-content: center;
    align-items: center;
}

.toast {
    max-height: 50px;
    width: 30em;
    color: var(--background);
    background-color: var(--error);
    padding: 10px 15px;
    border-radius: 4px;
    margin: 5px;
    transition: max-height 0.25s;
}

#errorTitle {
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.75;
}

input,
button,
select {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: box-shadow 0.2s, border 0.2s;
}

input:hover,
select:hover {
    border: 1px solid var(--accent);
}

button:hover {
    border: 1px solid var(--foreground);
}

input:focus,
button:focus,
select:focus {
    box-shadow: 0px 0px 0px 3px #93d99670;
    outline: none;
}

input,
select {
    width: 30em;
    text-align: left;
    border: 1px solid var(--foreground);
    background: transparent;
    color: var(--foreground);
    outline: none;
}

button {
    border: 1px solid var(--accent);
    background: var(--accent);
    color: var(--background);
    cursor: pointer;
}

select {
    cursor: pointer;
    padding: 9px 15px;
    max-width: 99vw;
}

svg {
    fill: currentColor;
}

.collapsed,
.collapsed:focus,
.collapsed:hover {
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    box-shadow: none;
    border-width: 0px;
}