@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
    text-align: center;
    margin: 0;
}

body {
    background: #333533;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
}

#h {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 2vw, 60px);
}

#g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

img {
    height: clamp(35px, 10vw, 120px);
}

h1 {
    color: #93d996;
    font-size: clamp(30px, 8vw, 105px);
    font-weight: 500;
}

p {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.2);
}

#convertbuttonimg {
    height: clamp(10px, 0.8vw, 30px);
    transform: rotate(-45deg);
}

#credit {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0;
    font-size: clamp(12px, 0.8vw, 30px);
}

#URL-input, #convert-button, #extension {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 400;
    font-size: clamp(15px, 1vw, 40px);
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#URL-input, #extension {
    width: 30em;
    text-align: left;
    border: 2px solid #EEEEEE;
    background: #EEEEEE;
    outline: none;
}

#URL-input:focus, #extension:focus {
    border: 2px solid #93d996;
}

#convert-button {
    border: 2px solid #93d996;
    background: #93d996;
    color: #333533;
}