@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
    --foreground: #6b6e6b;
    --background: #f7f7f7;
    --accent: #629464;
    --error: #b1563f;
    --transparent: #33353380;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #EEEEEE;
        --background: #333333;
        --accent: #93d996;
        --error: #ee4a22;
        --transparent: #EEEEEE80;
    }
}

* {
    text-align: center;
    margin: 0;
    transition: max-height 0.25s;
}

body {
    background: var(--background);
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
}

#g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

h1 {
    color: var(--accent);
    font-size: clamp(30px, 8vw, 105px);
    font-weight: 500;
}

#ph, #credit {
    margin-top: 50px;
    color: var(--transparent);
}

.toast {
    display: flex;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#error {
    width: 30em;
    color: var(--background);
    background-color: var(--error);
    padding: 10px 15px;
    border-radius: 4px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#credit {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0;
    font-size: clamp(12px, 0.8vw, 30px);
}

input, button, select {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 400;
    font-size: clamp(15px, 1vw, 40px);
    padding: 10px 15px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: box-shadow 0.2s, border 0.2s;
}

input:hover, button:hover, select:hover {
    border: 1px solid var(--accent);
}

input:focus, button:focus, select:focus {
    box-shadow: 0px 0px 0px 3px #93d99670;
    outline: none;
}

input, select {
    width: 30em;
    text-align: left;
    border: 1px solid var(--foreground);
    background: transparent;
    color: var(--foreground);
    outline: none;
}

button {
    border: 1px solid var(--accent);
    background: var(--accent);
    color: var(--background);
    cursor: pointer;
}

select {
    cursor: pointer;
}

.lang-button {
    background: transparent;
    color: var(--foreground);
    margin: 0;
}

#lang-b {
    display: flex;
    gap: 10px;
    background: var(--transparent);
    color: var(--accent);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 4px;
}

svg {
    fill: currentColor;
}

.collapsed {
    max-height: 0px;
}